.box{
    width: 100%;
}
.choose_carnum{
    font-size: 1.5em;
    font-weight: bold;
    height: 40px;
    display: block;
    line-height: 40px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    margin: 10px auto;

}
.tip_no_info{
    font-size: 1.5em;
    text-align: center;
}
.choose_carnum_p{
    font-weight: bold;
    font-size: 1.4em;

}
.box .box_header{
    width: 100%;
    display: block;
    position: relative;
}
.box .box_header img{
    width: 100%;
    height: 120px;
    background-color: dodgerblue;
    display: block;
}
.box .box_header .header_info{
    width: 88%;
    height: 90px;
    background-color: white;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 100px;
    margin-left: 6%;
    box-shadow: 0 0 10px gray;

}
.box .box_header .header_info .header_info_carnum{
    border-bottom: 2px ghostwhite solid;
    font-size: 2em;
    position: relative;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
}
.box .box_header .header_info .header_info_carnum #info_carnum{

}
.box .box_header .header_info .header_info_carnum .right_span{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.2em;
    line-height: 50px;
    opacity: 0.8;
}
.box .box_header .header_info .header_info_type{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}
.box .box_header .header_info .header_info_type #car_type{}