.div1{
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	width:100%;
	height:100%;
	position: relative;
}
body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: white;
}
.img1{
	width: 100%;
}
form{
	width: 80%;
	margin: 0 auto;
}
form div{
	width: 100%;
	margin-top: 20px;
	position: relative;
	border:2px solid darksalmon ;
}
form div img{
	display: block;
	width: 40px;
	height: 40px;
	float: left;
	position: absolute;
}
form div input{
	margin: 0;
	height: 40px;
	width: 100%;
	padding-left: 40px;
	font-size: 1.3em;

}
.button{
	width: 100%;
	height: 40px;
	border-radius: 15px;
	margin-top: 20px;
	background-color: blue;
	font-size: 25px;
	color: white;
}
ul{
	width: 70%;
	text-align: center;
	font-size: 1.2em;
	margin: 0 auto;
}
ul li{
	float: left;
	margin: 0 auto;

}
.textdiv{
	margin-top: 15px;
	text-align: center;
	font-size: 1.2em;
	border: 0;
}
.div1 .check{
	overflow: hidden;
	width: 100%;
	display: block;
	margin: 5px auto;
	border: 0;
}
.div1 .check #checkbox{
	-webkit-appearance:checkbox;
	width: 20px;
	height: 20px;
	float: left;
}
.div1 .check p{
	height: 20px;
	line-height: 20px;
	font-size: 1em;
}
#tip{
	max-width: 750px;
	min-width: 375px;
	position: fixed;
	height: 50px;
	display: none;
	width: 100%;
	top:50%;
}
#tip #word{
	background:rgba(0,0,0,0.4);
	text-align: center;
	border-radius: 5px;
	line-height: 50px;
	color: white;
	font-size: 1.2em;
	display: block;
	position: relative;
	width: 50%;
	margin: 0 auto;
}